/* Articles */
.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.articles .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  max-width: 15rem;
  margin: 8px;
}

.articles .article .image {
  object-fit: cover;
  height: 200px;
  margin: 8px;
}

.articles .article .card-body {
  display: flex;
  flex-direction: column;
}

.articles .article .card-body .name {
  font-weight: 700;
  font-size: 1.1rem;
}

.articles .article .card-body .description {
  max-height: 200px;
  overflow: hidden;
  flex-grow: 1;
}
